Which tracks have the most DNFs?

DNF: Did Not Finish
See which tracks are brutal for the cars

In [1]:
import pandas as pd

In [2]:
status_df = pd.read_csv('dataset/status.csv')
status_df.head()

   statusId        status
0         1      Finished
1         2  Disqualified
2         3      Accident
3         4     Collision
4         5        Engine

In [3]:
status_df.shape

(139, 2)

In [4]:
DNF_df = status_df[status_df.status != 'Finished']
DNF_df = DNF_df[DNF_df.status != '+1 Lap']
DNF_df = DNF_df[DNF_df.status != '+2 Lap']
DNF_df = DNF_df[DNF_df.status != '+3 Lap']

DNF_df

     statusId          status
1           2    Disqualified
2           3        Accident
3           4       Collision
4           5          Engine
5           6         Gearbox
..        ...             ...
134       137          Damage
135       138          Debris
136       139         Illness
137       140       Undertray
138       141  Cooling system

[137 rows x 2 columns]