In [1]:
import pandas as pd
import numpy as np

In [ ]:
# costs from 2010 to 2020 (in millions), as after searching the interent there was cost cap that was introduced in 2021
# which made the teams more confidnential about their costs

# 1. Red Bull Racing (EUR266m + EUR35.7m + EUR167m) = EUR468.7m
# 2. Mercedes (EUR122m + EUR212.4m + EUR133m) = EUR467.4m
# 3. McLaren Honda (EUR144.5m + EUR216.5m + EUR104m) = EUR465m
# 4. Ferrari (EUR208.5m + EUR34.5m + EUR175m) = EUR418m

# to dict
costs_2015 = {
    'Red Bull Racing': 468.7,
    'Mercedes': 467.4,
    'McLaren Honda': 465,
    'Ferrari': 418
}

In [2]:
# F1 Teams	                                    Budget Between 2015 & 2019
# 2015	2016	2017	2018	2019
# Mercedes	$527.6M	$352M	$352.1M	$400M	$484M
# Ferrari	$474.7M	$483.3M	$295.3M	$410M	$463M
# Red Bull	$532.5M	$286.2M	$284M	$310M	$445M
# McLaren	$528.3M	$246.4M	$240.8M	$220M	$269M
# Alpine (Renault/Lotus)	$149.8M	199.8M	$195.4M	$190M	$272M
# Aston Martin (Racing Point/Force India)	$147.3M	$119.2M	$117M	$120M	$188M
# AlphaTauri (Toro Rosso)	$156.1M	$132.8M	$130.6M	$150M	$138M
# Alfa Romeo (Sauber)	$117.2M	$126M	$123.8M	$135M	$132M
# Williams	$217.7M	$139.6M	$136.3M	$150M	$141M
# Haas	NA	NA	$130.6M	$130M	$173M

# to pandas csv
costs_2015_2019 = pd.DataFrame({
    'Mercedes': [527.6, 352, 352.1, 400, 484],
    'Ferrari': [474.7, 483.3, 295.3, 410, 463],
    'Red Bull': [532.5, 286.2, 284, 310, 445],
    'McLaren': [528.3, 246.4, 240.8, 220, 269],
    'Alpine (Renault/Lotus)': [149.8, 199.8, 195.4, 190, 272],
    'Aston Martin (Racing Point/Force India)': [147.3, 119.2, 117, 120, 188],
    'AlphaTauri (Toro Rosso)': [156.1, 132.8, 130.6, 150, 138],
    'Alfa Romeo (Sauber)': [117.2, 126, 123.8, 135, 132],
    'Williams': [217.7, 139.6, 136.3, 150, 141],
}, index=[2015, 2016, 2017, 2018, 2019])

In [3]:
costs_2015_2019.head()

,Mercedes,Ferrari,Red Bull,McLaren,Alpine (Renault/Lotus),Aston Martin (Racing Point/Force India),AlphaTauri (Toro Rosso),Alfa Romeo (Sauber),Williams,Haas
2015,527.6,474.7,532.5,528.3,149.8,147.3,156.1,117.2,217.7,NaN
2016,352.0,483.3,286.2,246.4,199.8,119.2,132.8,126.0,139.6,NaN
2017,352.1,295.3,284.0,240.8,195.4,117.0,130.6,123.8,136.3,130.6
2018,400.0,410.0,310.0,220.0,190.0,120.0,150.0,135.0,150.0,130.0
2019,484.0,463.0,445.0,269.0,272.0,188.0,138.0,132.0,141.0,173.0

In [4]:
# get merc in 2015
r

In [5]:
merc_2015

527.6